<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>InterestingJavaEE</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- 
  <session-config>
  	<session-timeout>1</session-timeout>
  </session-config>
  -->
  <!-- 
  <error-page>
  	<error-code>404</error-code>
  	<location>/404page/404.html</location>
  </error-page>
  -->
  
  <context-param>
  	<param-name>username</param-name>
  	<param-value>ContextParamAdmin</param-value>
  </context-param>
  <context-param>
  	<param-name>password</param-name>
  	<param-value>ContextParam12345</param-value>
  </context-param>
  
  <!-- 配置一堆的监听器
  <listener>
  	<listener-class>tk.chuanjing.chapter20.listener.MyServletContextListener</listener-class>
  </listener>
  <listener>
  	<listener-class>tk.chuanjing.chapter20.listener.MyHttpSessionListener</listener-class>
  </listener>
  <listener>
  	<listener-class>tk.chuanjing.chapter20.listener.MyServletRequestListener</listener-class>
  </listener>
  <listener>
  	<listener-class>tk.chuanjing.chapter20.listener.MyHttpSessionAttributeListener</listener-class>
  </listener>
  -->
  
  <!-- 配置过滤器 一个过滤器的小Demo 
  <filter>
  	<filter-name>FilterDemo1</filter-name>
  	<filter-class>tk.chuanjing.chapter21.filter.FilterDemo1</filter-class>
  	
  	配置过滤器的初始化参数 
  	<init-param>
  		<param-name>name</param-name>
  		<param-value>root</param-value>
  	</init-param>
  	<init-param>
  		<param-name>password</param-name>
  		<param-value>123</param-value>
  	</init-param>
  </filter>
  
  <filter-mapping>
  	<filter-name>FilterDemo1</filter-name>
  	<url-pattern>/*</url-pattern>
  	<dispatcher>FORWARD</dispatcher>
  	<dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  -->
  
  <!-- 自动登录的过滤器 -->
  <filter>
  	<filter-name>AutoLoginFilter</filter-name>
  	<filter-class>tk.chuanjing.chapter21.filter.AutoLoginFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>AutoLoginFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <!-- 通用网站的字符集编码过滤器 -->
  <filter>
  	<filter-name>GenericEncodingFilter</filter-name>
  	<filter-class>tk.chuanjing.chapter21.filter.GenericEncodingFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>GenericEncodingFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <!-- 通用网站的字符集编码过滤器  Final版
  <filter>
  	<filter-name>GenericEncodingFilterFinal</filter-name>
  	<filter-class>tk.chuanjing.chapter21.filter.GenericEncodingFilterFinal</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>GenericEncodingFilterFinal</filter-name>
  	<url-pattern>/*</url-pattern>
  	<dispatcher>REQUEST</dispatcher>
  	<dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  -->
  
  <!-- 通用网站的字符集编码过滤器  使用动态代理写的
  <filter>
  	<filter-name>GenericEncodingFilterProxy</filter-name>
  	<filter-class>tk.chuanjing.chapter23.GenericEncodingFilterProxy</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>GenericEncodingFilterProxy</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  -->
   
  <!-- servlet接收参数的演示 -->
  <servlet>
    <servlet-name>ServletDemo01Param</servlet-name>
    <servlet-class>tk.chuanjing.chapter11.servlet.ServletDemo01Param</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDemo01Param</servlet-name>
    <url-pattern>/ServletDemo01Param</url-pattern>
  </servlet-mapping>
  
  <!-- Servlet的生命周期 -->
  <servlet>
    <servlet-name>ServletDemo04LifeCycle</servlet-name>
    <servlet-class>tk.chuanjing.chapter11.servlet.ServletDemo04LifeCycle</servlet-class>
    <!--load-on-startup>2</load-on-startup-->
  </servlet>
  <servlet-mapping>
  	<servlet-name>ServletDemo04LifeCycle</servlet-name>
  	<url-pattern>/ServletDemo04LifeCycle</url-pattern>
  </servlet-mapping>
  
  <!-- ServletConfig   ServletContext  对象的使用 -->
  <servlet>
    <servlet-name>ServletDemo05Config</servlet-name>
    <servlet-class>tk.chuanjing.chapter11.servlet.ServletDemo05Config</servlet-class>
    <init-param>
    	<param-name>username</param-name>
    	<param-value>InitParamAdmin</param-value>
    </init-param>
    <init-param>
    	<param-name>password</param-name>
    	<param-value>InitParam12345</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDemo05Config</servlet-name>
    <url-pattern>/ServletDemo05Config</url-pattern>
  </servlet-mapping>
  
  <!-- 登陆的Servlet -->
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>tk.chuanjing.chapter12.login.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  
  <!-- 记录访问次数的Servlet -->
  <servlet>
    <servlet-name>CountServlet</servlet-name>
    <servlet-class>tk.chuanjing.chapter12.login.CountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CountServlet</servlet-name>
    <url-pattern>/CountServlet</url-pattern>
  </servlet-mapping>
  
  <!-- 记录最后一次来访时间 -->
  <servlet>
    <servlet-name>CountLastVisitServlet</servlet-name>
    <servlet-class>tk.chuanjing.chapter14.cookie.CountLastVisitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CountLastVisitServlet</servlet-name>
    <url-pattern>/CountLastVisitServlet</url-pattern>
  </servlet-mapping>
  
  <!-- 记录商品浏览记录 -->
  <servlet>
    <servlet-name>ProductBrowseHistoryServlet</servlet-name>
    <servlet-class>tk.chuanjing.chapter14.cookie.ProductBrowseHistoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductBrowseHistoryServlet</servlet-name>
    <url-pattern>/ProductBrowseHistoryServlet</url-pattern>
  </servlet-mapping>
  
  <!-- 清除浏览记录 -->
  <servlet>
    <servlet-name>ProductBrowseHistoryClearServlet</servlet-name>
    <servlet-class>tk.chuanjing.chapter14.cookie.ProductBrowseHistoryClearServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductBrowseHistoryClearServlet</servlet-name>
    <url-pattern>/ProductBrowseHistoryClearServlet</url-pattern>
  </servlet-mapping>
  
  <!-- 转账	练习事务 -->
  <servlet>
    <servlet-name>AccountServlet</servlet-name>
    <servlet-class>tk.chuanjing.chapter17.transaction.AccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountServlet</servlet-name>
    <url-pattern>/AccountServlet</url-pattern>
  </servlet-mapping>
  
  <!-- chapter18 商品增删改查&分页 -->
  <servlet>
    <servlet-name>ProductFindAllServlet</servlet-name>
    <servlet-class>tk.chuanjing.chapter18.web.servlet.ProductFindAllServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductFindAllServlet</servlet-name>
    <url-pattern>/ProductFindAllServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ProductAddServlet</servlet-name>
    <servlet-class>tk.chuanjing.chapter18.web.servlet.ProductAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductAddServlet</servlet-name>
    <url-pattern>/ProductAddServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ProductEditServlet</servlet-name>
    <servlet-class>tk.chuanjing.chapter18.web.servlet.ProductEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductEditServlet</servlet-name>
    <url-pattern>/ProductEditServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ProductUpdateServlet</servlet-name>
    <servlet-class>tk.chuanjing.chapter18.web.servlet.ProductUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductUpdateServlet</servlet-name>
    <url-pattern>/ProductUpdateServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ProductDeleteServlet</servlet-name>
    <servlet-class>tk.chuanjing.chapter18.web.servlet.ProductDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductDeleteServlet</servlet-name>
    <url-pattern>/ProductDeleteServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ProductDeleteAllServlet</servlet-name>
    <servlet-class>tk.chuanjing.chapter18.web.servlet.ProductDeleteAllServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductDeleteAllServlet</servlet-name>
    <url-pattern>/ProductDeleteAllServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ProductSearchServlet</servlet-name>
    <servlet-class>tk.chuanjing.chapter18.web.servlet.ProductSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductSearchServlet</servlet-name>
    <url-pattern>/ProductSearchServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ProductFindByPageServlet</servlet-name>
    <servlet-class>tk.chuanjing.chapter18.web.servlet.ProductFindByPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductFindByPageServlet</servlet-name>
    <url-pattern>/ProductFindByPageServlet</url-pattern>
  </servlet-mapping>
  
  <!-- AJAX的入门的Servlet，演示get和post -->
  <servlet>
    <servlet-name>AjaxGetPostDemoServlet</servlet-name>
    <servlet-class>tk.chuanjing.chapter19.ajax.AjaxGetPostDemoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxGetPostDemoServlet</servlet-name>
    <url-pattern>/AjaxGetPostDemoServlet</url-pattern>
  </servlet-mapping>
  
  <!-- CheckUserNameServlet -->
  <servlet>
    <servlet-name>CheckUserNameServlet</servlet-name>
    <servlet-class>tk.chuanjing.chapter19.ajax.check_username.CheckUserNameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckUserNameServlet</servlet-name>
    <url-pattern>/CheckUserNameServlet</url-pattern>
  </servlet-mapping>
  
  <!-- CheckUserNameServlet Jquery -->
  <servlet>
    <servlet-name>CheckUserNameServletJquery</servlet-name>
    <servlet-class>tk.chuanjing.chapter19.ajax.check_username.CheckUserNameServletJquery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckUserNameServletJquery</servlet-name>
    <url-pattern>/CheckUserNameServletJquery</url-pattern>
  </servlet-mapping>
  
  <!-- JQ仿百度搜索提示 -->
  <servlet>
    <servlet-name>SearchWordServlet</servlet-name>
    <servlet-class>tk.chuanjing.chapter19.ajax.search_word.SearchWordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchWordServlet</servlet-name>
    <url-pattern>/SearchWordServlet</url-pattern>
  </servlet-mapping>
  
  <!-- 省市二级联动，获得省 -->
  <servlet>
    <servlet-name>ProvinceAndCityGetProvinceServlet</servlet-name>
    <servlet-class>tk.chuanjing.chapter19.ajax.province_city.ProvinceAndCityGetProvinceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProvinceAndCityGetProvinceServlet</servlet-name>
    <url-pattern>/ProvinceAndCityGetProvinceServlet</url-pattern>
  </servlet-mapping>
  
  <!-- 省市二级联动，获得市-->
  <servlet>
    <servlet-name>ProvinceAndCityGetCityServlet</servlet-name>
    <servlet-class>tk.chuanjing.chapter19.ajax.province_city.ProvinceAndCityGetCityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProvinceAndCityGetCityServlet</servlet-name>
    <url-pattern>/ProvinceAndCityGetCityServlet</url-pattern>
  </servlet-mapping>
  
  <!-- 读取文件 ServletContextDemo -->
  <servlet>
    <servlet-name>ServletContextDemo</servlet-name>
    <servlet-class>tk.chuanjing.chapter13.ServletContextDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletContextDemo</servlet-name>
    <url-pattern>/ServletContextDemo</url-pattern>
  </servlet-mapping>
  
  <!-- DownloadServlet -->
  <servlet>
    <servlet-name>DownloadServlet</servlet-name>
    <servlet-class>tk.chuanjing.chapter13.DownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadServlet</servlet-name>
    <url-pattern>/DownloadServlet</url-pattern>
  </servlet-mapping>
  
  <!-- Request Demo Servlet 使用request获得客户机的信息 -->
  <servlet>
    <servlet-name>RequestDemo01Servlet</servlet-name>
    <servlet-class>tk.chuanjing.chapter13.request.RequestDemo01Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestDemo01Servlet</servlet-name>
    <url-pattern>/RequestDemo01Servlet</url-pattern>
  </servlet-mapping>
  
  <!-- Request Demo Servlet 使用request解决中文乱码的问题 -->
  <servlet>
    <servlet-name>RequestDemo02Servlet</servlet-name>
    <servlet-class>tk.chuanjing.chapter13.request.RequestDemo02Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestDemo02Servlet</servlet-name>
    <url-pattern>/RequestDemo02Servlet</url-pattern>
  </servlet-mapping>
  
  <!-- redirect And forward -->
  <servlet-mapping>
    <servlet-name>RedirectAndForward01Servlet</servlet-name>
    <url-pattern>/RedirectAndForward01Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RedirectAndForward01Servlet</servlet-name>
    <servlet-class>tk.chuanjing.chapter13.redirect_forward.RedirectAndForward01Servlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>RedirectAndForward02Servlet</servlet-name>
    <servlet-class>tk.chuanjing.chapter13.redirect_forward.RedirectAndForward02Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RedirectAndForward02Servlet</servlet-name>
    <url-pattern>/RedirectAndForward02Servlet</url-pattern>
  </servlet-mapping>
  
  <!-- 注册 -->
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>tk.chuanjing.chapter13.register.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  
  <!-- response.getWriter().println() 和 response.getOutputStream().write() -->
  <servlet>
    <servlet-name>OutPutAndWriterServlet</servlet-name>
    <servlet-class>tk.chuanjing.chapter13.response.OutPutAndWriterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OutPutAndWriterServlet</servlet-name>
    <url-pattern>/OutPutAndWriterServlet</url-pattern>
  </servlet-mapping>
  
  <!-- 使用session技术的简单  购物车 -->
  <servlet>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>tk.chuanjing.chapter15.session.CartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/CartServlet</url-pattern>
  </servlet-mapping>
  
  <!-- 生成验证码图片的servlet -->
  <servlet>
    <servlet-name>CheckCodeImgServlet</servlet-name>
    <servlet-class>tk.chuanjing.chapter15.session.CheckCodeImgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckCodeImgServlet</servlet-name>
    <url-pattern>/CheckCodeImgServlet</url-pattern>
  </servlet-mapping>
  
  <!-- 登陆的servlet，带一次性验证码校验 -->
  <servlet>
    <servlet-name>CheckCodeImgLoginServlet</servlet-name>
    <servlet-class>tk.chuanjing.chapter15.session.CheckCodeImgLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckCodeImgLoginServlet</servlet-name>
    <url-pattern>/CheckCodeImgLoginServlet</url-pattern>
  </servlet-mapping>
  
  <!-- 使用EL、JSTL 将商品信息显示到页面 -->
  <servlet>
    <servlet-name>ProductShowServlet</servlet-name>
    <servlet-class>tk.chuanjing.chapter16.ProductShow.ProductShowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductShowServlet</servlet-name>
    <url-pattern>/ProductShowServlet</url-pattern>
  </servlet-mapping>
  
  <!-- Model2小案例 -->
  <servlet>
    <servlet-name>Model2Servlet</servlet-name>
    <servlet-class>tk.chuanjing.chapter16.model.Model2Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Model2Servlet</servlet-name>
    <url-pattern>/Model2Servlet</url-pattern>
  </servlet-mapping>
  
  <!-- 测试   通用网站的字符集编码过滤器  的Servlet -->
  <servlet>
    <servlet-name>TestGenericEncodingServlet</servlet-name>
    <servlet-class>tk.chuanjing.chapter21.filter.TestGenericEncodingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestGenericEncodingServlet</servlet-name>
    <url-pattern>/TestGenericEncodingServlet</url-pattern>
  </servlet-mapping>
  
  <!-- 自动登录的Servlet -->
  <servlet>
    <servlet-name>AutoLoginServlet</servlet-name>
    <servlet-class>tk.chuanjing.chapter21.filter.AutoLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AutoLoginServlet</servlet-name>
    <url-pattern>/AutoLoginServlet</url-pattern>
  </servlet-mapping>
  
  <!-- 文件上传的 servlet -->
  <servlet>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>tk.chuanjing.chapter22.fileupload.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/UploadServlet</url-pattern>
  </servlet-mapping>
  
  <!-- 文件上传的 servlet 解决了常见问题的升级版 -->
  <servlet>
    <servlet-name>UploadServletPro</servlet-name>
    <servlet-class>tk.chuanjing.chapter22.fileupload.UploadServletPro</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServletPro</servlet-name>
    <url-pattern>/UploadServletPro</url-pattern>
  </servlet-mapping>
  
</web-app>